.App {
  text-align: center;
}

.button {
  width: 750px;
  height: 88px;
  background: rgba(255, 156, 0, 1);
  border-radius: 6px 6px 6px 6px;
  box-sizing: border-box;
  margin-bottom: 32px;

  .button-title {
    height: 88px;
    line-height: 88px;
    font-size: 31px;
    color: #fff;
  }
}

.avatar {
  position: relative;
  width: 0.88rem;
  height: 0.88rem;
  background: #e1e1e1;
  border-radius: 4px;
  margin-right: 22px;
  img {
    margin-top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.agree_button,
.decline_button {
  color: rgba(255, 255, 255, 1);
  border: none;
  font-size: 24px;
  margin: 0 15px;
  font-weight: 400;
  width: 78px;
  height: 50px;

  border-radius: 2px;
}

.agree_button {
  background: linear-gradient(90deg, #66cbff, #1480fe);
}

.decline_button {
  background: linear-gradient(90deg, #b0e2fb, #86bcfc);
}
